<div class="container"[ngStyle]="{'background-color' : 'black'}">

  <div><h3>our team will take your business presence to new level</h3></div>
  <div style="display: flex;">
  <div class="row col-4" [ngStyle]="{'color': 'white'}">
    <div>
  <i class="fa fa-wpforms" style="font-size:24px"></i>
</div>
  <h3 >Strategy</h3>
  <p>ship it user story iterate engaging co-working </p>
  <p><strong>see details</strong>-></p>
  </div>
  <div class="row col-4" [ngStyle]="{'color': 'white'}">
  <i class="fa fa-wpforms" style="font-size:24px"></i>
  <h3>Branding</h3>
  <p>ship it user story iterate engaging co-working </p>
  <p><strong>see details</strong>-></p>
  </div>
  <div class="row col-4"[ngStyle]="{'color': 'white'}">
  <i class="fa fa-wpforms" style="font-size:24px"></i>
  <h3>Branding</h3>
  <p>ship it user story iterate engaging co-working </p>
  <p><strong>see details</strong>-></p>
  </div>
  </div>
</div>


